/*!  FONTS  !*/

 @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/*!  VARIABLES  !*/

:root {
    /**===== Colors =====**/
    --first-color: #D9113A;
    --first-color-dark: #141C2A;
    --text-color: #FFF;
    --first-color-light: #4C495D;
    --first-color-lighten: #1D2738;
    /**===== Font and typography =====**/
    --body-font: 'gill-sans-mt', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /**===== Font weight =====**/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    /**===== Marge =====**/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /**===== z index =====**/
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    /**===== Border radius =====**/
    --bd-1: 10px;
}

@media screen and (min-width: 768px) {
     :root {
        --biggest-font-size: 4.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*!  NORMALIZE  !*/

*,
::before,
::after {
    box-sizing: border-box;
}

header {
    position: absolute;
}

body {
    
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color-dark);
    background-image: url("../img/backgroundpoker.png");
    color: var(--text-color);
    line-height: 1.6;
}

main {
    margin-left: 110px;
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img {
    /* max-width: 100%; */
    height: auto;
    display: block;
}

/*!  SCROLLBAR !*/

::-webkit-scrollbar {
    width: 3px;
    background-color: var(--first-color-lighten);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--first-color-lighten);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--first-color-dark);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

/*!  NAVBAR  !*/

.active{
    filter: invert(19%) sepia(52%) saturate(6157%) hue-rotate(331deg) brightness(89%) contrast(98%) drop-shadow(0px 0px 5px #D9113A);
}

li:hover, .langage__container:hover, .dice__logo:hover{
    -webkit-transform:scale(1.2); /* Safari & Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* Internet Explorer 9 */
    -o-transform:scale(1.2); /* Opera */
    transform:scale(1.2);
    -webkit-transition: all .2s ease-out; /* Safari & Chrome */
    -moz-transition: all .2s ease-out; /* Firefox */
    -ms-transition: all .2s ease-out; /* Internet Explorer 9 */
    -o-transition: all .2s ease-out; /* Opera */
    transition: all .2s ease-out;
    
}

.dice__logo, .langage__container{
    position: fixed;
    z-index: var(--z-fixed);
    cursor: pointer;
    width: 110px;
    display: flex;
    justify-content: center;
    -webkit-transition: all .2s ease-out; /* Safari & Chrome */
    -moz-transition: all .2s ease-out; /* Firefox */
    -ms-transition: all .2s ease-out; /* Internet Explorer 9 */
    -o-transition: all .2s ease-out; /* Opera */
    transition: all .2s ease-out;
}

.dice__logo {
    top:1.8rem;
}

.langage__container {
    position: fixed;
    bottom: 1.5rem;
}

.langage__logo{
    top: 10px;
}

.navbar { 
    position: fixed;
    z-index: var(--z-tooltip);
    align-items: center;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 110px;
    background: var(--first-color-lighten);
}

.navbar_nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.navbar__link{
    display: flex;
    justify-content: center;
    margin: 2.5rem 0;
}

.nav-link svg {
    min-width: 2rem;
}

.navbar__item, .active{
    width: 1.8rem;
    -webkit-transition: all .2s ease-out; /* Safari & Chrome */
    -moz-transition: all .2s ease-out; /* Firefox */
    -ms-transition: all .2s ease-out; /* Internet Explorer 9 */
    -o-transition: all .2s ease-out; /* Opera */
    transition: all .2s ease-out;
}



@media screen and (max-width: 1280px) {

    main {
        margin-left: 70px;
    }

    .navbar, .dice__logo, .langage__container{
        position: fixed;
        width: 70px;
    }


    .navbar__link{
        margin: 2rem 0;
    }

    .navbar__item, .active{
        width: 1.5rem;
    }
    

}

@media screen and (max-width: 720px) {

    main {
        margin-left: 0;
    }

    .dice__logo, .langage__container{
        display: none;
    }

    .navbar{
        top: 90vh;
        width: 100vw;
        height: 10vh;
    }

    .navbar__nav{
        display: flex;
        flex-direction: row;
    }

    .navbar__item, .active{
        margin: 0 1.2rem;
    }

    .navbar__nav :nth-child(1) { order: 3; }
    .navbar__nav :nth-child(2) { order: 1; }
    .navbar__nav :nth-child(3) { order: 2; }
    .navbar__nav :nth-child(4) { order: 4; }
    .navbar__nav :nth-child(5) { order: 5; }

    #iconhome{
        transform:scale(1.5);
    }
}

/*!  HEAD  !*/

.head__container{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    align-items: center;
}

.logo__text{
    font-size: 32px;
    font-weight: 500;
}

#text__hight{
    font-size: 40px;
}

.text__pink{
    color: var(--first-color);
}

.text__pinkb{
    font-weight: 600;
    color: var(--first-color);
}

.text__green{
    color: #248900;
}

.text__red{
    color: #D91111;
}

.text__white{
    font-weight: 600;
}

.text__b {
    font-weight: 600;
}

.text__gold{
    color: #ffd700;
    font-weight: 600;
}

.text__silver{
    color: #C0C0C0;
    font-weight: 600;

}

.text__bronze{
    color: #614e1a;
    font-weight: 600;
}

.text__size{
    font-size: 13px;
}

.text__italic{
    /* font-style: italic; */
    opacity: .4;
    font-size: 12px;
}
.connexion__link{
    display: flex;
    align-items: center;
    background: var(--first-color);
    padding: 5px 10px;
    border-radius: var(--bd-1);
    -webkit-transition: all .2s ease-out; /* Safari & Chrome */
    -moz-transition: all .2s ease-out; /* Firefox */
    -ms-transition: all .2s ease-out; /* Internet Explorer 9 */
    -o-transition: all .2s ease-out; /* Opera */
    transition: all .2s ease-out;
}

.connexion__link:hover{
    box-shadow: 0px 0px 10px #D9113A;
    -webkit-transition: all .2s ease-out; /* Safari & Chrome */
    -moz-transition: all .2s ease-out; /* Firefox */
    -ms-transition: all .2s ease-out; /* Internet Explorer 9 */
    -o-transition: all .2s ease-out; /* Opera */
    transition: all .2s ease-out;
}

.connexion__logo{
    margin-right: 10px;
}

/*!  FIRST ROW HOME PAGE  !*/

.first__row{
    display: flex;
    justify-content: space-between;
}

.banner__container, .lastwinner__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--first-color-lighten);
    border-radius: var(--bd-1);
    padding: 10px 18px 10px 18px;
    
}

.banner__container{
    width: 72%;
    margin: 0 15px 0 30px;
}

.lastwinner__container{
    width: 28%;
    margin: 0 30px 0 15px;
}

.banner__content__container{
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.banner__leftside{
    display: flex;
    position: relative;
    align-items: center;
}

.banner__girl{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-350px, -137px);
}

.banner__title__first{
    font-size: 28px;
    line-height: 52px;
}

.banner__text__promo{
    line-height: 25px;
}

.banner__button__container{
    transform: translate(0px, -10px);
}

.banner__button__text{
    background: var(--first-color);
    padding: 8px 15px;
    border-radius: var(--bd-1);
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 400px;
    -webkit-transition: all .2s ease-out; /* Safari & Chrome */
    -moz-transition: all .2s ease-out; /* Firefox */
    -ms-transition: all .2s ease-out; /* Internet Explorer 9 */
    -o-transition: all .2s ease-out; /* Opera */
    transition: all .2s ease-out;
}

.banner__button__text:hover, .gamecard__text__hover:hover{
    box-shadow: 0px 0px 10px #D9113A;
    -webkit-transition: all .2s ease-out; /* Safari & Chrome */
    -moz-transition: all .2s ease-out; /* Firefox */
    -ms-transition: all .2s ease-out; /* Internet Explorer 9 */
    -o-transition: all .2s ease-out; /* Opera */
    transition: all .2s ease-out;
}

.banner__arrow{
    cursor: pointer;
}

h3{
    font-size: 16px;
}

.lastwinner__firstline, 
.lastwinner__secondline, 
.lastwinner__lastline{
    font-size: 14px;
    margin-top: 8px;
}

.lastwinner__firstline{
    margin-top: 10px;
}

@media screen and (max-width: 1023px) {
    .banner__girl{
        display: none;
    }

    .banner__content__container{
        justify-content: flex-start;
    }

    .banner__text__promo{
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 720px) {

    .first__row{
        flex-direction: column;
    }

    .banner__container, .lastwinner__container{
        width: auto;
        margin: 0 30px 30px 30px;
    }

    .banner__content__container{
        margin: 20px 0;
    }
}

/*!  SECOND ROW HOME PAGE !*/

.second__row{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 15px;
    grid-auto-flow: dense;
    margin: 30px;
}

.card__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--first-color-lighten);
    padding: 20px;
    border-radius: var(--bd-1);
    height: 120px;
    cursor: pointer;
}

.card__container:hover{
    border: 1.5px solid #fff;
}

.card__desc{
    margin-top: 10px;
    font-size: 13px;
}

#all__mobile{
    display: none;
}

@media screen and (max-width: 720px) {
    .second__row{
        flex-direction: column;
        margin: 0 30px;
    }
    .card__container{
        width: auto;
    }

    #all__desktop{
        display: none;
    }
    #all__mobile{
        display: inline;
    }
}

/*!  LAST ROW HOME PAGE !*/

.last__row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 30px;
    grid-auto-flow: dense;
    margin: 0 30px;
}

.gamecard__container{
    position: relative;
}

.gamecard__image{
    width: 100%;
    -webkit-transition: all .2s ease-out; /* Safari & Chrome */
    -moz-transition: all .2s ease-out; /* Firefox */
    -ms-transition: all .2s ease-out; /* Internet Explorer 9 */
    -o-transition: all .2s ease-out; /* Opera */
    transition: all .2s ease-out;
}

.gamecard__container #gamecard__image__last{
    margin: 0;
}

#gamecard__image__last{
    padding-right: 0;
}

.gamecard__text__hover{
  position: absolute;
  background: var(--first-color);
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 12px;
  visibility: hidden;
  -webkit-transition: all .2s ease-out; /* Safari & Chrome */
 -moz-transition: all .2s ease-out; /* Firefox */
 -ms-transition: all .2s ease-out; /* Internet Explorer 9 */
 -o-transition: all .2s ease-out; /* Opera */
 transition: all .2s ease-out;
}



.gamecard__desc{
    margin-top: 40px;
}
.gamecard__container:hover .gamecard__image{
    -webkit-transition: all .2s ease-out; /* Safari & Chrome */
    -moz-transition: all .2s ease-out; /* Firefox */
    -ms-transition: all .2s ease-out; /* Internet Explorer 9 */
    -o-transition: all .2s ease-out; /* Opera */
    transition: all .2s ease-out;
    opacity: .33;
}

.gamecard__container:hover .gamecard__text__hover{
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 720px) {
    .last__row{
        grid-gap: 0 30px;
    }

    .gamecard__container{
        margin: 0;
    }
    .gamecard__image{
        padding: 30px 0 10px 0;
    }
}

/*!  LAST ROW HOME PAGE !*/

.login__container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". .";
    background: var(--first-color-lighten);
    margin: 0 30px 30px 30px;
    border-radius: var(--bd-1);
    padding: 80px 50px 0 50px;
}

.login__image__task{
    margin-top: 80px;
    width: 400px;
}

.login__title{
    font-size: 42px;
    line-height: 45px;
    width: 85%;
    font-weight: 600;
}

.login__desc{
    margin-top: 20px;
}

.login__form__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__logo__container{
    display: flex;
    justify-content: center;
}

.login__svg__container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--first-color-dark);
    border-radius: var(--bd-1);
    padding: 10px 30px;
    margin: 0 15px;
    box-shadow: 0px 0px 8px #141C2A;
}

.login__svg__logo{
    width: 40px;
}

.login__text__ref{
    font-size: 11px;
    color: rgba(255, 255, 255, .4);
    letter-spacing: .7px;
    text-align: right;
    margin-top: 5px;
    font-weight: 600;
}

#login__intersection{
    margin: 20px 0;;
}

.login__button__box, .input, .login__input__box{
    position: relative;
    width: 100%;
    padding: 13px 0;
}

.login__button__box{
    padding: 0;
}

.login__input__box{
    display: grid;
}

.input{
    padding-left: 10px;
    background: var(--first-color-dark);
    transition: all 0.1s ease-in;
    border: none;
    border-radius: 5px;
    color: var(--text-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background: var(--first-color-dark);

}

.input:focus{
        padding-left: 38px;
        background: var(--first-color-dark);
}

i.fa{
    opacity: 0;
    position: absolute;
    left: 13px;
    top: 23px;
    transition: all 0.1s ease-in;
}

.login__button{
    margin: 10px 0 0 0;
    width: 100%;
    background: var(--first-color);
    color: var(--text-color);
    border: none;
    padding: 13px 0;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: all .2s ease-out; /* Safari & Chrome */
    -moz-transition: all .2s ease-out; /* Firefox */
    -ms-transition: all .2s ease-out; /* Internet Explorer 9 */
    -o-transition: all .2s ease-out; /* Opera */
    transition: all .2s ease-out;
}

.login__button:hover{
    box-shadow: 0px 0px 10px #D9113A;
    -webkit-transition: all .2s ease-out; /* Safari & Chrome */
    -moz-transition: all .2s ease-out; /* Firefox */
    -ms-transition: all .2s ease-out; /* Internet Explorer 9 */
    -o-transition: all .2s ease-out; /* Opera */
    transition: all .2s ease-out;
}


.toggle__password{
    position: absolute;
    top: 25px;
    right: 10PX;
    opacity: .6;
}

input + i.fa {
    color: #fff;
    position: absolute;
    opacity: 0;
    transition: all 0.1s ease-in;
}
input:focus + i.fa {
    opacity: 1;
    left: 15px;
    top: 25px;
    transition: all 0.25s ease-out;
}

input:focus + i.fa.fa-key {
    left: 12.5px;
}

@media screen and (max-width: 1020px) {

.login__container{
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    gap: 30px 0px;
    grid-template-areas: ".";
    padding: 30px;
}

.login__image__task{
    display: none;
}

.login__title{
    font-size: 26px;
    line-height: 34px;
}

.login__svg__container{
    width: 50px;
    PADDING: 2PX 16PX;
}

#logo__facebook{
    width: 11.5px;
}

}

/*!  FIRST COLUMN STATS PAGE !*/

.stats__all{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 30px;
}

.first__column__stats, .second__column__stats, .stats__first__row, .stats__second__row{
    background: var(--first-color-lighten);
    border-radius: var(--bd-1);
    padding: 10px 15px;
}

.first__column__stats{
    background: var(--first-color-lighten);
    border-radius: var(--bd-1);
    padding: 10px 15px;
}

.second__column__stats{
    position: relative;
}

.stats__title{
    font-weight: 600;
    font-size: 18px;
}

.stats__desc__text{
    font-size: 14px;
    padding-top: 5px;
}

.stats__profile__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats__profile__picture{
    padding: 20px; 
}

.stats__profile__title{
    font-size: 28px;
    font-weight: 600;
}

.stats__profile__text{
    margin: 2px 0;
    line-height: 40px;
    font-size: 14px;
}

.stats__profile__options{
    text-align: center;
    font-size: 13px;
    opacity: .2;
}

.stats__profile__svg{
    position: absolute;
    bottom: .5px;
    left: 0px;
    width: 100%;
}

.stats__stats__line{
    padding-top: 5px;
    font-size: 14px;
}

.last__column__stats{
    display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
}

.stats__message__container{
    display: grid;
    grid-template-columns: 56% 1fr;
    gap: 30px;
}

.stats__message__text{
    text-align: right;
    font-weight: 600;
    font-size: 18px;
    margin: 30px 5px;
}

.stats__message__goblin{
    width: 20px;
}

#stats__goblin{
    width: 100px;
}

.stats__friends__container{
    display: grid;
    grid-template-columns: 1fr 9fr;
    margin: 20px 0;
    gap: 14px;
    font-size: 13px;
    font-weight: 600;
}

.stats__friends__paragraph{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stats__all :nth-child(1){
    order: 1;
}
.stats__all :nth-child(2){
    order: 2;
}
.stats__all :nth-child(3){
    order: 4;
}
.stats__all :nth-child(4){
    order: 3;
}